/* Ajustes nos buttons */

.btn i {
    margin-right: 5px;
}
.btn .caret {
    margin-left: 5px;
}

/* Ajustes na toolbar de opções das tabelas */

table thead tr th.options {
    text-align: center;
    width: 140px;
}
table tbody tr td.options {
    padding-top:    6px;
    padding-bottom: 6px;
    text-align: center;
}
table .number{
    text-align: right;
}
table .options .btn i {
    margin: 0;
}

/* Formatação do enutri-data */

.enutri-data {
    margin-bottom: 15px;
}
.enutri-data .enutri-data-key {
    font-weight: 700;
    margin-bottom: 5px;
}
.enutri-data .enutri-data-value {
    background-color: #F0F0F0;
    border: 1px solid #D2D6DE;
    min-height: 34px;
    overflow-x: hidden;
    padding: 6px 12px;
}
.enutri-data.number .enutri-data-value {
    text-align: right;
}

/* Ajustes nos forms */

.required label:after {
    content: '*';
    color: #DD4B39;
    font-weight: normal;
    margin-left: 2px;
}
.form-group .error-message {
    color: #DD4B39;
    font-size: 12px;
}
.number input[type="text"]{
    text-align: right;
}
.number input[type="text"]:focus{
    text-align: left;
}

/* Flash */

section .flash {
    margin-top: 15px;
    margin-bottom: 0;
}